html
  head
    title DIYA's Dance
    block scripts
    block style
  body
    nav#navigationbar 
       ul 
          div#logo
             img(src="../static/img/logo.png", alt="")
             |DDA
          div#list   
             li #[a(href="/") Home ]
             li #[a(href="/") About] 
             li #[a(href="/") Contact Us]
             li #[a(href="/") Courses]
    block content
    footer#footer 
          p Copyright © 2023 DIYA's Dance.com
    