body{
    font-family: Arial;
}
#heading{
    text-align: center;
    text-transform: uppercase;
     
}
.grid-container{
    
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
    /* margin: 10px auto; */
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

#todo-ipnut,#todo-date{
    font-size: 15px;
    padding: 10px 5px;
}
.todo-btn{
    background-color: green;
    color: white;
    /* height: 40px; */
    border: none;
    border-radius: 20px;
    padding: 15px 0px;
}
.todo-btn-delete{
    background-color: maroon;
    color: white;
    /* height: 40px; */
    border: none;
    border-radius: 20px;
    padding: 15px 0px;
    cursor: pointer;
    

}

