
*{
  margin:0;
  padding:0;
  font-family: "Montserrat";
  box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
}

.header{
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav i{
  display: none;
}
 .logo img{
  width: 4vw;
  margin: 5vw;
}
nav ul{
  display: flex;
  align-items: center;
  gap: 4vw;
  margin: 5vw;
  list-style: none;
}
nav li a {
text-decoration: none;
color: #000;
font-size: 1.2vw;
font-weight: 700;
}
nav li a:hover{
  color: blue;
  background-color: #dadada;
  padding: 0.8vw;
  border-radius: 1.5vw;
}
.mainbox{
  width: 100%;
  height: calc(100% - 180px);
  display: flex;
  position: relative;
}
.left{
  height: 100%;
  width: 55%;
  padding: 10vw;
}
.left .smline{
  width: 4vw;
  height: 4px;
  background-color: #000;
}
.left h4{
  margin-top: 1vw;
  font-weight: 600;
  font-size: 1.2vw;
}
.left .name img{
  width: 25em;
   margin-top: 1.5vw;
}
.play{
  display: flex;
  align-items: center;
}
.play img{
  width: 5vw;
  margin-top: 1vw;
}
.left > p{
  font-size: 0.8vw;
 text-transform:uppercase;
 font-weight: 700;
 letter-spacing: 5px;
 color:darkslategray;
}
.cityName {
  color: red;
  opacity: .5;
}
.play> p{
  font-size: 10px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: black;
}
 .bold {
  color: #000;
  font-weight: 700;
}
.right{
  width: 45%;
  height: 100%;
}
.right img{
  width: 34vw;
  margin: 4vw 4vw  0 4vw;
}
.containerbox
{
  width: 100%;
  height: 300px;
}
#contact 
{
  margin-top: 15vw;
  margin-left: 10vw;
}
#contact p{
  font-weight: 700;
  font-size: 1.4vw;
  color: #bcb7b7;
}
.contactSpan{
  color:orange;
  font-size: 1.3vw;
  font-weight: 700;
 }
 .icons{
  margin-top: 1vw;
  width: 40%;
  height: 80px;
  display: flex;
  gap: 1vw;
 }
 .icons a{
  text-decoration: none;
  
 }
 .facebook{
  font-size: 1.9vw;
  color: #0866ff;
 }
.linkedin{
  color:#016eae;
  font-size: 1.9vw;
 }
 .instagram{
  font-size: 1.9vw;
   color:  #F56040;
 }
 .github{
  font-size: 1.9vw;
  color:#22252a;
 }

@media (max-width:600px) {
  nav i{
    display: block;
    font-size: 8vw;
  }
  .logo img{
    width:11vw;
  }
  nav li a{
    display: none;
  }
  .mainbox{
    flex-direction: column;
  }
  .left .smline{
    width: 10vw;
  }
  .left{
    width: 100%;
    height: 45%;
    padding: 10vw;
  }
  .left h4{
    font-size: 7vw;
  }
   .left .name img{
     width: 17em;
  }
  .play img{
    width: 15vw;
    margin-top: 1vw;
  }
  .left >p{
    font-size: 3.5vw;
    margin-top: 1vw;
    letter-spacing: normal;
    
  }
  .play > p {
    font-size: 2.5vw;
    margin-top: 1vw;
    letter-spacing: 5px;
  }
  .right{
      width: 100%;
      height: 55%;
      margin-left: 5vw;
  }
  .right img{
    width: 80%;
  }
  #contact 
{
  margin-top: 30vw;
  
}
#contact  span{
  font-size: 4vw;

}
#contact p {
  font-size: 4.1vw;
}
.facebook, .github, .linkedin , .instagram{
 font-size: 8vw;
}
}